body {
    background: #76b852; /* fallback for old browsers */
    background: -webkit-linear-gradient(right, #9400D3, #9932CC);
    background: -moz-linear-gradient(right, #9400D3, #9932CC);
    background: -o-linear-gradient(right, #9400D3, #9932CC);
    background: linear-gradient(to left, #9400D3, #9932CC);
    font-family: "Roboto", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.title{
    padding-bottom: 20px;
}
.title a{
    text-decoration: none;
    color:black;
}
.success{
    color:green;
}
.hover{
	cursor:pointer;
}